{% extends 'admin/base.html.twig' %}

{% block title %}
    Users
{% endblock %}

{% block breadcrumb %}

    <li class="breadcrumb-item">
        <a href="{{ path('dashboard')}}">Admin</a>
    </li>
    <li class="breadcrumb-item">
        Users
    </li>
    <li class="breadcrumb-item active">All</li>

{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h2>
                <i class="fas fa-user-alt"></i>
                Users
            </h2>
        </div>
        <div class="card-body">
            <a href="{{ path('create_user') }}" class="btn btn-success">Create User</a>
            <div class="table-responsive mt-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Admin</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.Id }}</td>
                                <td>{{ user.firstName }}</td>
                                <td>{{ user.lastName }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    {% if user.isAdmin %}
                                        <i class="fas fa-check-circle text-success"></i>
                                    {% else %}
                                        <i class="fas fa-times-circle text-danger"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('edit_user', {'id': user.Id}) }}" class="btn btn-sm btn-primary">
                                        <i class="fas fa-pencil-alt"></i>
                                        Edit
                                    </a>
                                    <form action="{{ path('delete_user') }}" method="POST" style="display: inline;">
                                        <input type="hidden" name="token" value="{{ csrf_token('delete-user') }}" >
                                        <input type="hidden" name="userId" value="{{ user.Id }}" >

                                        <button type="submit" class="btn btn-sm btn-danger"
                                        onclick="return confirm('Delete user {{ user.firstName }} {{ user.lastName }} ?')">
                                            <i class="fas fa-trash-alt"></i>
                                            Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        <div class="card-footer">
           <b>Count:</b> {{ usersCount }}
        </div>
    </div>

{% endblock %}
